:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  --font-family: "Fraunces", serif;
  --font-family: "Montserrat", sans-serif;
}

body {
  background: var(--Cream);
}

img {
  height: 480px;
}
.container {
  margin-top: 12%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}
.image-cover img {
  border-radius: 12px 0 0 12px;
}
.details {
  text-align: left;
  border-radius: 0 12px 12px 0;
  height: 480px;
  width: 330px;
  background: var(--White);
}
.details .summary {
  margin-top: 40px;
  margin-inline: 50px;
}

.icon {
  justify-content: center;
  display: flex;
}

.summary h4 {
  letter-spacing: 3px;
  font-size: 13px;
  color: var(--Dark-grayish-blue);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.summary h1 {
  color: var(--Very-dark-blue);
  font-family: "Fraunces", serif;
  line-height: 33px;
}

.summary h2 {
  margin-left: 3%;
}

.summary p {
  color: var(--Dark-grayish-blue);
  line-height: 25px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.price {
  color: var(--Dark-cyan);
  font-size: 20px;
  font-family: "Fraunces", serif;
  margin-left: -8%;
  display: flex;
  justify-content: space-around;
}

.cart-icon img {
  width: 15px;
  height: 15px;
}
.price-discount {
  margin-right: 30px;
  text-decoration: line-through;
  margin-top: 6.7%;
}
.price {
  margin-top: -6%;
}
button {
  margin-top: 4%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  width: 250px;
  color: var(--White);
  background: var(--Dark-cyan);
  border: none;
  margin-left: -3%;
}

span {
  margin-left: 5%;
}

@media (max-width: 29.06em) {
  img {
    height: 270px;
  }
  .container {
    overflow: hidden;
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
    width: calc(100% -3.75rem);
  }
  .image-cover img {
    border-radius: 12px 12px 0 0;
  }
  .element-style img {
    width: 500px;
  }
  .details {
    width: 370px;
    margin-top: -4px;
    border-radius: 0 0 12px 12px;
  }
  .details h1 {
    margin-left: -6%;
  }

  .details h2 {
    margin-left: -9%;
  }

  .details h4,
  p {
    margin-left: -5%;
  }

  .price h2 {
    margin-left: -5%;
  }

  .price p {
    margin-left: -75%;
  }
  button {
    margin-left: -5%;
    width: 300px;
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
